#editor-pane {
	height: calc(100% - 55px);
	width: 50%;
	display: inline-block;
	background-color: #f0f0f0;
    position: fixed;
    left: 0;
    top: 50px;
}

#editor-pane {
	float: left;
}

#editor {
	height: 100%;
	padding: 20px 15px;
}

#editor > .CodeMirror {
	height: 100%;
}

#editor .cm-link {
	text-decoration: none;
}

#editor .CodeMirror-lines {
	margin: 20px 15px;
}


#textedit_message {
    display: flex;
    justify-content: center;
    align-items: center;
	resize: none;
	width: 100%;
	height: calc(100% - 25px);
	box-sizing: border-box;
	background-color: #ffffff;
    opacity: 0.5;
	border: none;
    font-family: sans-serif;
	font-size: 20px;
    color: black;
	tab-size : 4;
	outline: none;
	overflow: auto;
	/*white-space: pre-wrap;*/
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px;
    z-index: 1;
}


#textedit {
	resize: none;
	width: 100%;
	height: calc(100% - 25px);
	box-sizing: border-box;
	background-color: transparent;
	border: none;
    font-family: sans-serif;
	font-size: 14px;
    color: black;
	tab-size : 4;
	outline: none;
	overflow: auto;
	/*white-space: pre-wrap;*/
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px;
    z-index: 0;
}

.pos {
    font-size: 10px;
    color: #808080;
}

.level1 {
    padding-top: 8px;
    font-weight: 600;
    font-size: 18px;
}
.level2 {
    font-weight: 400;
    font-size: 16px;
}
.level3 {
    font-size: 15px;
}
.level4 {
    font-size: 14px;
}
.level5 {
    font-size: 13px;
}
.level6 {
    font-size: 12px;
}
.level7 {
    font-size: 11px;
}
.level8 {
    font-size: 10px;
}
.header {
    color: #000000;
}
.comment {
    color: #404040;
}

.selected_node {
    background-color: #c0c0c0;
}
