#editor-pane {
	height: calc(100% - 55px);
	width: 50%;
	display: inline-block;
	background-color: #f0f0f0;
    position: fixed;
    left: 0;
    top: 50px;
}

#editor-pane {
	float: left;
}

#editor {
	height: 100%;
	padding: 20px 15px;
}

#editor > .CodeMirror {
	height: 100%;
}

#editor .cm-link {
	text-decoration: none;
}

#editor .CodeMirror-lines {
	margin: 20px 15px;
}

#textedit {
	resize: none;
	width: 100%;
	height: calc(100% - 25px);
	box-sizing: border-box;
	background-color: transparent;
	border: none;
    font-family: monospace;
	font-size: 14px;
	tab-size : 4;
	outline: none;
	overflow: auto;
	white-space: pre-wrap;
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px;
}
