#viewer-pane {
    height: calc(var(--visual-viewport-height, 100%) - 55px);
    width: 50%;
    display: inline;
    position: fixed;
    top: var(--navbar-height);
    right: 0;
    overflow: hidden;
}

#viewer-container {
    height: 100%;
    display: flex;
}
